body {
  /*background: #120f1a;*/
  background: #0f1a19;
}

.App {
  text-align: center;
}

.container {
  color: white;
  height: 15em;
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  overflow: visible;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.layer {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  border-radius: 3em;
  flex: 0 0 auto;
  text-align: center;
}

img {
  -webkit-user-drag: none;
}

.layer img {
  width: 60%;
  height: 60%;
  margin: auto; /*horizontally center*/ 
}

.connector {
  width: 5em;
  height: 3em;
  display: flex;
  align-items: center;
  border-radius: 3em;
  flex: 0 0 auto;
  text-align: center;
}


.addmenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  overflow: visible;
/*  flex-wrap: nowrap;*/
}

.add {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.2em;
  display: flex;
  align-items: center;
  border-radius: 3em;
  flex: 0 0 auto;
  text-align: center;
  float: left;
  transition: width 0.3s;
  transition: height 0.3s;
}

.add img {
  width: 60%;
  height: 60%;
  margin: auto;
  float: none;
  display: inline;
  clear: none;
}

.menu {
  width: 10em;
}

.menuitem:hover {
	opacity: 0.8;
}

.menuitem:not(:hover) {
  color: rgba(255, 255, 255, 0.5) !important;
  background: rgba(100, 100, 100, 0.4) !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}

.menuitem {
  border: 1px solid #ff1717;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  margin: 0.3em;
  border-radius: 1.5em;
  opacity: 0.5;
}